.hamburgerIconContainer {
  position: absolute;
  top: 2vw;
  right: 2vw;

  width: 10vw;
  height: 10vw;

  color: var(--main-color);
  font-size: var(--font-size-900);
  z-index: 100;
}

.opened {
}
.closed {
}
.transforming {
}

.hamburgerIcon {
  position: relative;

  width: 10vw;
  height: 10vw;

  color: var(--main-color);
  font-size: var(--font-size-900);
  z-index: 100;
}
.bar::before,
.bar::after,
.bar {
  --bar-width: 100%;
  --bar-height: 1vw;
  --offset: calc(var(--bar-width) / 2);

  display: block;
  content: "";

  width: var(--bar-width);
  height: var(--bar-height);

  background-color: var(--main-color);

  transition: 0.5s;
}

.bar {
  margin-block: 50%;
  position: absolute;
}
.bar::before {
  position: absolute;
  top: calc(3 * var(--bar-width));
}
.bar::after {
  position: absolute;
  top: calc(-3 * var(--bar-width));
}

.closed * {
  transition: 0.5s;
}

.closed > .bar::before {
  transform: translateX(50%) rotateZ(45deg);
  top: 0%;
  background-color: var(--main-color);
}
.closed > .bar {
  transform: translateX(-50%);
  background: none;
}
.closed > .bar::after {
  transform: translateX(50%) rotateZ(-45deg);
  top: 0%;
  background-color: var(--main-color);
}
