.siteHeader {
  color: var(--main-color);
  font-size: calc(2 * var(--font-size-900));
}
.sectionHeader {
  color: var(--main-color);
  font-size: calc(2 * var(--font-size-700));
}
.panelHeader {
  color: var(--tertiary-color);
  font-size: calc(2 * var(--font-size-600));
}

@media (min-width: 992px) {
  .siteHeader {
    font-size: calc(2 * var(--font-size-900));
  }
  .sectionHeader {
    font-size: calc(2 * var(--font-size-700));
  }
  .panelHeader {
    font-size: calc(2 * var(--font-size-600));
  }
}
