.containter {
  display: grid;
  background: var(--main-color);
  scroll-snap-type: none;
  grid-template-rows: auto 1fr;
  gap: 2em;

  .header {
    color: var(--background-color);
  }

  .projectsContainer {
    padding: 2em;
    display: grid;
    gap: 2em;
  }
}

@media (min-width: 678px) {
  .containter {
    .projectsContainer {
      grid-auto-flow: column;
      align-items: stretch;
    }
  }
}
