$background: var(--main-color);

.container {
  scroll-snap-align: start;
  background-color: $background;
  padding-bottom: 10em;
  .projectsContainer {
    display: grid;
    gap: 3em;
  }
}

@media (min-width: 768px) {
  .container {
    gap: 5em;
    .projectsContainer {
      gap: 10em;
    }
  }
}
