.containter {
  display: grid;
  background: var(--main-color);
  grid-template-rows: auto 1fr;
  margin-bottom: 20em;
  gap: 2em;

  scroll-snap-align: start;
  .header {
    color: var(--background-color);
  }

  .projectsContainer {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    gap: 2em;
    padding: 2em;
  }
}

@media (min-width: 678px) {
  .containter {
    .projectsContainer {
      align-items: center;
    }
  }
}
