.tagsContainer {
  display: flex;
  align-items: center;
  gap: 0.5em;
  list-style: none;
}

.tag {
  padding: 0.5em;
  border-radius: 1em;
  border: 0.15em solid var(--second-color);

  color: var(--tertiary-color);
}
