.tagsContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 0.5em;
}

.tag {
  padding: 0.5em 1em;
  border-radius: 2.5em;
  font-size: 0.75em;

  word-break: keep-all;
  white-space: nowrap;
  background-color: var(--tertiary-color);
  color: var(--headline-color);
  cursor: default;
}
