.container {
  display: grid;
  grid-template-rows: auto 2fr auto;
  padding: 2em;

  color: var(--background-color);
  background-color: var(--tertiary-color);

  .header {
    span {
      color: var(--main-color);
    }
  }

  .sideImage {
    aspect-ratio: 1/1;
    position: relative;
    display: grid;
    place-items: center;
    & > img {
      position: absolute;
      width: min(500px, 100%);
    }
  }

  .aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    opacity: 0.87;
    font-size: var(--font-size-400);
    p {
      display: flex;
      flex-direction: column;
      .trait {
        font-weight: 600;
        color: var(--main-color);
        opacity: 1;
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    grid: auto 1fr/ 2fr 1fr;
    align-items: center;

    .header {
      grid-column: 1/-1;
    }

    .aboutme {
      max-width: 40ch;
      font-size: var(--font-size-500);
      text-align: left;

      p {
        display: block;
        .trait {
          font-size: var(--font-size-600);
        }
      }
    }
  }
}
