.container {
  color: var(--background-color);
  background-color: var(--tertiary-color);

  align-items: center;
  .header {
    span {
      color: var(--main-color);
    }
  }

  .aboutme {
    align-self: flex-start;
    max-width: 30ch;
    font-size: var(--font-size-400);
  }

  .sideImage {
    min-height: 400px;
    display: grid;
    place-items: center;
    position: relative;
    & > img {
      position: absolute;
    }
  }
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
    .aboutme {
      align-self: center;
    }
  }
}
