.container {
  color: var(--background-color);
  background-color: var(--tertiary-color);

  grid-template-rows: auto 2fr auto;
  padding: 2em;

  .header {
    span {
      color: var(--main-color);
    }
  }
  .aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    opacity: 0.87;
    font-size: var(--font-size-400);
    p {
      display: flex;
      flex-direction: column;
      .trait {
        font-weight: 600;
        color: var(--main-color);
        opacity: 1;
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    grid: auto 1fr/ 2fr 1fr;
    padding-inline: 5em;
    .aboutme {
      max-width: 40ch;
      font-size: var(--font-size-500);
      text-align: left;

      p {
        display: block;
        .trait {
          font-size: var(--font-size-600);
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .container {
    padding-inline: 10em;

    .sideImage {
      position: relative;
      display: grid;
      place-items: center;
      & > img {
        position: absolute;
        width: min(500px, 100%);
      }
    }
  }
}
