.landingSection {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 1em;
}
.landingHeader {
  color: var(--main-color);
  font-size: clamp(45px, 5em, 60px);
  font-weight: 900;
}

.bigH2 {
  font-size: var(--font-size-500);
}

@media (min-width: 992px) {
  .landingHeader {
    font-size: clamp(80px, 10em, 100px);
  }
}
