.landingSection {
  display: grid;
  grid-template-rows: 1fr 1fr;
  place-items: end;
  justify-items: center;
  gap: 1em;

  .landingHeader {
    color: var(--tertiary-color);
    font-size: calc(2 * var(--font-size-600));
    font-weight: 900;
  }

  .scrollHint {
    width: 3em;
    stroke: var(--tertiary-color);
    stroke-width: 0.5em;
    stroke-linecap: round;
  }
}

@media (min-width: 768px) {
  .landingHeader {
    font-size: calc(2 * var(--font-size-1000));
  }
}
