$color: var(--tertiary-color);

.landingSection {
  display: grid;
  grid-template-rows: 1fr 1fr;
  place-items: end center;
  gap: 1em;

  min-height: 100dvh;
  margin-top: 0;

  .landingHeader {
    color: $color;
    font-size: calc(2 * var(--font-size-600));
    font-weight: 900;
  }

  .scrollHint {
    display: grid;
    place-content: center;

    font-size: var(--font-size-1000);
    color: $color;

    &:focus-visible {
      outline: 2px solid $color;
      border-radius: 100%;
      opacity: 1 !important ;
    }
  }
}

@media (min-width: 768px) {
  .landingHeader {
    font-size: calc(2 * var(--font-size-1000));
  }
}
