@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import "reset.scss";
@import "utils.scss";
@import "components.scss";

:root {
  --background-color: #16161a;
  --main-color: #7f5af0;
  --secondary-color: #e67e22;
  --tertiary-color: #2ecc71;

  --headline-color: #fffffe;
  --paragraph-color: #94a1b2;

  --font-size-300: clamp(8px, 1em, 20x);
  --font-size-400: clamp(12px, 1.25em, 24px);
  --font-size-500: clamp(16px, 1.5em, 28px);
  --font-size-600: clamp(20px, 2em, 32px);
  --font-size-700: clamp(24px, 2.5em, 36px);
  --font-size-800: clamp(28px, 3em, 40px);
  --font-size-900: clamp(32px, 3.5em, 44px);
  --font-size-1000: clamp(36px, 4em, 48px);
}

html {
  color: var(--headline-color);
  font-family: "Poppins", sans-serif;
  font-size: var(--font-size-400);
  text-align: center;
  line-height: 1.6;

  overflow: clip;
  background: var(--background-color);

  main {
    width: 100%;
    height: 100vh;

    overflow-y: scroll;
    overflow-x: clip;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    section {
      padding: 2em 1em;
      min-height: 100vh;
      scroll-snap-align: center;

      h2 {
        font-size: var(--font-size-1000);
      }
      h3 {
        font-size: var(--font-size-700);
      }
    }

    &::-webkit-scrollbar {
      position: absolute;
      background: transparent;
      width: clamp(0.2em, 1vw, 0.3em);
    }
    &::-webkit-scrollbar-thumb {
      background: var(--main-color);
      border-radius: 0.5em;
    }
  }
}

@media (min-width: 768px) {
  section {
    padding: 10em 5em;
  }
}
