.container {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1em;

  .sectionHeader {
    color: var(--tertiary-color);
  }
  .skilsList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .iconContainer {
      display: grid;
      place-items: center;
      gap: 0.25em;

      img {
        width: 2em;
        aspect-ratio: 1/1;
        align-self: flex-end;
      }
    }
  }
}

@media (min-width: 1024px) {
  .container {
    place-items: center;
    .skilsList {
      grid: repeat(2, 1fr) / repeat(5, 1fr);
      gap: 2.5em;
      padding: 2.5em;

      .iconContainer {
        $duration: 600ms;
        padding: 1em;
        transition: $duration;
        aspect-ratio: 1/1;

        &:hover {
          scale: 1.2;
          background: #1f1f25;
          border-radius: 2em;
        }
        img {
          width: 50%;
          transition: $duration;

          &:hover {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}
