@mixin list() {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 1em;
}

.skilsSection {
  display: grid;

  .sectionHeader {
    grid-column: 1/-1;
    color: var(--tertiary-color);
  }
  .subHeader {
    margin-block: 1em;
  }
}

.iconContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  place-items: center;

  img {
    width: 2em;
    height: 2em;
  }
}

.technologies {
  .list {
    @include list();
  }
}

.tools {
  .list {
    @include list();
  }
}

@media (min-width: 768px) {
  .skilsSection {
    grid-template-columns: 1fr 1fr;
  }

  .technologies {
    .list {
      flex-direction: row;
    }
  }
}
