$space-sm: 1em;
$color: var(--tertiary-color);

.container {
  scroll-snap-align: start;
  margin-bottom: 0;

  .subHeader {
    display: none;
  }

  .otherContainer {
    display: grid;
    grid-template-rows: 1fr auto auto auto;
    gap: $space-sm;
    transition: 300ms;

    .emailContainer {
      display: grid;
      gap: $space-sm;

      .emailForm {
        padding: $space-sm;
      }
    }

    .socialsContainer {
      height: fit-content;

      & > .resumeButton {
        display: none;
      }
    }
  }
}
.resumeButton {
  background-color: $color;

  &:focus-visible {
    outline-color: $color;
  }
}
@media (min-width: 678px) {
  .otherContainer {
    grid: 1fr/ 1fr auto auto;

    .resumeButton {
      display: none;
    }
  }
}

@media (min-width: 1024px) {
  .container {
    .subHeader {
      display: block;
    }

    .otherContainer {
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      gap: 4em;

      .socialsContainer {
        display: grid;
        grid-template-rows: auto 1fr auto;

        .resumeButton {
          display: block;
        }
      }
      hr {
        align-self: stretch;
      }
      span {
        display: block;
      }
    }
  }
}
