.container {
  .header {
    color: var(--main-color);
    grid-column: 1/-1;
  }
  .subHeader {
    display: none;
  }
  .otherContainer {
    display: grid;
    gap: 1em;
  }
  .emailContainer {
    display: grid;
    gap: 1em;
    .emailForm {
      padding: 1em;
    }
  }
  .socialsContainer {
    .resumeButton {
      display: none;
    }
  }
}

@media (min-width: 678px) {
  .otherContainer {
    grid-template-columns: 1fr auto auto;
  }
}
@media (min-width: 1024px) {
  .container {
    .divider {
      align-self: center;
    }
    .subHeader {
      display: block;
    }
    .otherContainer {
      place-content: center;
      gap: 4em;
      transition: 300ms;

      .socialsContainer {
        display: grid;
        grid-template-rows: auto 1fr auto;
        .resumeButton {
          display: block;
        }
      }
    }
    .resumeButton {
      display: none;
    }
  }
}
