.container {
  display: flex;
  gap: 3%;
  font-size: var(--font-size-500);
}
.link {
  text-decoration: none;
  color: var(--paragraph-color);
}
.link:hover {
  color: var(--headline-color);
  transition: color 0.3s;
}
.activeLink {
  color: var(--headline-color);
  text-decoration: none;
}
