.container {
  position: fixed;

  inset: 0;
  width: 50vw;
  height: 100vh;

  z-index: 100;

  transform: translateX(200%);
  transition: transform 300ms;

  .nav {
    display: grid;
    place-content: center;
    gap: 1em;

    height: 100%;
    background-color: black;

    a {
      color: var(--headline-color);
      font-size: var(--font-size-500);
    }
  }
}
.open {
  transform: translateX(100%);
}

.hamburgerMenu {
  position: fixed;
  top: 0%;
  right: 0%;

  margin: 1em;
  width: 2.5em;
  height: 2.5em;
  z-index: 9999;

  .hamburgerBars > span {
    $bar-height: 0.25em;
    display: block;

    margin-block: $bar-height;

    height: $bar-height;
    background-color: var(--main-color);

    transition: 300ms;
  }
  #hamburgerCheckbox {
    display: none;

    &:checked ~ span {
      #topBar {
        translate: 0% 200%;
        rotate: 45deg;
        border-radius: 0.5em;
      }
      #middleBar {
        translate: 50% 0%;
        scale: 0;
      }
      #bottomBar {
        translate: 0% -200%;
        rotate: -45deg;
        border-radius: 0.5em;
      }
    }
  }
}
