@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

:root {
  --background-color: #16161a;
  --main-color: #7f5af0;
  --secondary-color: #72757e;
  --tertiary-color: #2cb67d;

  --headline-color: #fffffe;
  --paragraph-color: #94a1b2;

  --button-color: #ff8906;

  --font-size-300: clamp(8px, 1em, 20x);
  --font-size-400: clamp(12px, 1.25em, 24px);
  --font-size-500: clamp(16px, 1.5em, 28px);
  --font-size-600: clamp(20px, 2em, 32px);
  --font-size-700: clamp(24px, 2.5em, 36px);
  --font-size-800: clamp(28px, 3em, 40px);
  --font-size-900: clamp(32px, 3.5em, 44px);

  --shadow: 0px 2px 10px 1px var(--background-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);

  font-family: "Poppins", sans-serif;
  text-align: center;
  color: var(--headline-color);
}

section {
  height: 100vh;
}
h1 {
  font-size: var(--font-size-900);
}
h2 {
  font-size: var(--font-size-800);
}
h3 {
  font-size: var(--font-size-700);
}

:is(p, span, textarea, input, li, a) {
  color: var(--paragraph-color);
  font-size: var(--font-size-400);
  text-decoration: none;
}
:is(header, footer, section) {
  padding: 1%;
}

#root {
  display: flex;
  flex-flow: column nowrap;
}
