.aboutMeSection {
  display: grid;
  align-items: center;
  overflow-y: hidden;
}

@media (min-width: 992px) {
  .aboutMeSection {
    padding-block: 10%;
    grid-template-columns: repeat(2, 1fr);
  }
  .sectionHeader {
    display: block;
  }
}
